.navbar_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    height:10vh;
}

.logo_main_container{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#no_underline{
    text-decoration: none;
    color:rgb(12,13,18);
}
.special_color{
    text-decoration: none;
    color:rgb(104,199,115);
}

.tab_containers{
    display: flex;
    flex-direction: row;
    flex-grow:4;
    align-items: center;
    justify-content: center;
}

.tabs{
    margin-left:40px;
    
}




.sign_in_container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    
}

.logo_container{
    height:7vh;
}

.logo{
    transform: translate(-50%,-50%);
}
.logo path:nth-child(1){
    stroke-dasharray: 50px;
}
.logo path:nth-child(2){
    stroke-dasharray: 30px;

}
.logo path:nth-child(3){
    stroke-dasharray: 30px;

}
.logo path:nth-child(4){
    stroke-dasharray: 30px;

}
.logo path:nth-child(5){
    stroke-dasharray: 30px;
}